<!DOCTYPE html>

<title>Edit Image</title>

{% block body %}
    <h1>Edit Image</h1>

    {{ include('admin_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_image_index') }}">back to list</a>

    {{ include('admin_image/_delete_form.html.twig') }}
{% endblock %}


