<aside
	class="app-navbar">
	<!-- begin sidebar-nav -->
	<div class="sidebar-nav scrollbar scroll_light">

		<ul class="metismenu" id="sidebarNav">
			<li class="nav-static-title">Personal</li>
			<li>
				<a href="/admin/category">
					<i class="dashicons dashicons-category"></i>
					<span class="nav-title">Kategoriler</span>
				</a>

			</li>
			<li>
				<a href="/admin/product">
					<i class="dashicons dashicons-products"></i>
					<span class="nav-title">Ürünler</span>
				</a>

			</li>
			<li>
				<a href="/admin/comment">
					<i class="dashicons dashicons-products"></i>
					<span class="nav-title">Comments</span>
				</a>

			</li>
			<li>
				<a href="/admin/messages">
					<i class="dashicons dashicons-products"></i>
					<span class="nav-title">Iletisim Mesajlari</span>
				</a>

			</li>
			<li>
				<a href="/admin/user">
					<i class="dashicons dashicons-products"></i>
					<span class="nav-title">Users</span>
				</a>

			</li>
			<li>
				<a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
					<i class="nav-icon ti ti-layout-column3-alt"></i>
					<span class="nav-title">Satin Alinanlar</span>
				</a>
				<ul aria-expanded="false">
					<li>
						<a href="/admin/shopping/new">New</a>
					</li>
					<li>
						<a href="/admin/shopping/accepted">Accepted
						</a>
					</li>
					<li>
						<a href="/admin/shopping/canceled">Canceled</a>
					</li>
					<li>
						<a href="/admin/shopping/completed">Completed</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/admin/setting">
					<i class="dashicons dashicons-admin-settings"></i>
					<span class="nav-title">Setting</span>
				</a>

			</li>


		</ul>
	</div>
	<!-- end sidebar-nav -->
</aside>
